<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        My Wish List
      </h2>
    </div>

    <ng-container *ngIf="existingArray.length != 0; else notHaveData">
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
        <ng-container *ngFor="let books of existingArray">
          <app-book_control
            [id]="books?.isbn[0]"
            [img]="'../../../../../assets/img/pdf.png'"
            [publication]="books?.first_publish_year"
            [title]="books?.title"
            [author]="books?.author_name[0]"
            [wishlist]="true"
            (valueChangeModel)="removeToWishList(books?.title)"
          ></app-book_control>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #notHaveData>
      <div
        class="mx-auto text-center justify-center max-w-screen-sm mb-8 lg:mb-16"
      >
        <h2
          class="mx-auto text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          No Data Found

          <a
            [routerLink]="['/books/list']"
            title=""
            class="mt-5 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            role="button"
          >
            Go Home
          </a>
        </h2>
      </div>
    </ng-template>
  </div>
</section>
