<section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {{ isAuthorView ? "Author Name" : "Finance" }}
      </h2>
    </div>
  </div>

  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 p-3">
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <ng-container *ngIf="isAuthorView; else book">
          <img
            class="w-full"
            src="../../../../../assets/img/office-man.png"
            alt=""
          />
        </ng-container>

        <ng-template #book>
          <img
            class="w-full"
            src="../../../../../assets/img/pdf_big.png"
            alt=""
          />
        </ng-template>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <ul>
          <li>
            <h1 class="text-xl text-gray-900 sm:text-2xl dark:text-white">
              {{ isAuthorView ? "Birth Date" : "First Publish year" }}
            </h1>
          </li>

          <li>
            <h2 class="text-md text-gray-900 sm:text-2xl dark:text-white">
              {{ isAuthorView ? "Top work of the Author" : " Book Title" }}
            </h2>
          </li>

          <li>
            <h2 class="text-md text-gray-900 sm:text-2xl dark:text-white">
              {{ isAuthorView ? "Work Count" : "Author/s Name" }}
            </h2>
          </li>

          <li>
            <h2 class="text-md text-gray-900 sm:text-2xl dark:text-white">
              {{ isAuthorView ? "Top subject of the Author" : "Edition Count" }}
            </h2>
          </li>

          <ng-container *ngIf="!isAuthorView">
            <li>
              <h2 class="text-md text-gray-900 sm:text-2xl dark:text-white">
                No. Of Pages
              </h2>
            </li>
          </ng-container>
        </ul>

        <ng-container *ngIf="!isAuthorView; else isAuthor">
          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
              (click)="addRemoveToWishList()"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                />
              </svg>

              {{ addMode ? " Add  WishList " : "Remove WishList" }}
            </a>
          </div>
        </ng-container>

        <ng-template #isAuthor>
          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
              href="#"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              subject 1
            </a>
            <a
              href="#"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              subject 2
            </a>

            <a
              href="#"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              subject 3
            </a>

            <a
              href="#"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              subject 4
            </a>

            <a
              href="#"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              subject 5
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
