<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {{ title }}
      </h2>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
      <ng-container *ngFor="let books of books_list">
        <app-book_control
          [id]="books?.isbn[0]"
          [img]="'../../../../../assets/img/pdf.png'"
          [publication]="books?.first_publish_year"
          [title]="books?.title"
          [author]="books?.author_name[0]"
          [wishlist]="false"
        ></app-book_control>
      </ng-container>
    </div>
  </div>
</section>
